<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body class="bg-light">
  <div class="container py-5">
    <h1 class="mb-3">Panel de artesanos</h1>
    <p class="text-muted">Tu app base ya está funcionando.</p>

    <div class="card p-3 mb-3">
      <h5>Módulos del sistema</h5>
      <ul>
        <li>Artesanos</li>
        <li>Productos</li>
        <li>Pedidos</li>
        <li>Historial de movimientos</li>
        <li>Saldos por pagar</li>
      </ul>
    </div>

      <div class="card p-3 mb-3">
  <h5>Pruebas rápidas</h5>
  <div class="d-flex gap-2 flex-wrap">
    <a href="/test-db" class="btn btn-primary">Probar base de datos</a>
    <a href="/artesanos" class="btn btn-success">Ir a artesanos</a>
    <a href="/productos" class="btn btn-dark">Ir a productos</a>
    <a href="/pedidos" class="btn btn-warning">Ir a pedidos</a>
  </div>
</div>
  </div>
</body>
</html>